/* dark dark gray and blue theme /*
 */
$primary: #1a1a1a;
$secondary: #1e1e1e;
$secondary-bright: #262626;
$secondary2: #0076c7;
$secondary3: #00a0e9;

$font: 'Roboto', sans-serif;
$line-height: 1.5;
$font-size: 1.2rem;

$border-radius: 5px;
$slider-height: 15px;
$transition-time: .4s;